# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Images For CurseForge
*.png
*.psd

# WoW / addon packaging artifacts
*.zip
*.7z
*.rar

# Lua tooling (if used later)
luac.out
